var mapping = {
  '1': '一',
  '2': '二',
  '3': '三',
  '4': '四',
  '5': '五',
  '6': '六',
  '7': '七',
  '8': '八',
 '9': '九',
  '10': '十',
  '11': '十一',
  '12': '十二',
  '13': '十三',
  '14': '十四',
  '15': '十五',
  '16': '十六',
  '17': '十七',
  '18':'十八',
}

var getIndex = function (inx) {
  var index = inx.toString()
  return mapping[index]
}
var getCount = function (goods) {
  var inx = 0
  goods.forEach(function(item) {
    inx = inx + item.quantity
  })
  return inx
}

module.exports = {
  getIndex: getIndex,
  getCount: getCount
}
