view.xy-countDown(
  wx:if!="{{format.length && times}}"
)
  view(
    wx:if!="{{format[0]}}"
  ) 
    text(
      class="z-class"
    ) {{times.day}}
    text(
      wx:if!="{{!(!format[1] && format[0] === ':')}}"
    ) {{format[0]}}
  view(
    wx:if!="{{format[1]}}"
  ) 
    text(
      class="z-class"
    ) {{times.hour}}
    text(
    wx:if!="{{!(!format[2] && format[1] === ':')}}"
    ) {{format[1]}}
  view(
    wx:if!="{{format[2]}}"
  ) 
    text(
      class="z-class"
    ) {{times.minu}}
    text(
      wx:if!="{{!(!format[3] && format[2] === ':')}}"
    ) {{format[2]}}
  view(
    wx:if!="{{format[3]}}"
  ) 
    text(
      class="z-class"
    ) {{times.secs}}
    text {{format[3] !== ':' ? format[3] : ''}} 
  slot